#result {
  height: 100%;
  h1 {
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    small {
      padding-left: 5px;
      font-size: 20px;
    }
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    margin-top: 0px;
    font-size: 22px;
  }
}
#resultStep {
  height: 100%;
}
.ui.form {
  width: 80%;
  p {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #submit {
    margin-top: 15px;
  }
}
.message {
  display: none;
  width: 100%;
  position: absolute !important;
  opacity: 0.7;
  top: 10%;
}
.ui.shape {
  height: 100%;
  width: 100%;
  .sides {
    height: 100%;
    width: 100%;
  }
  .side {
    height: 100%;
    width: 100%;
  }
}
.maxhight {
  height: 100%;
  width: 100%;
}
