.result-icon {
  #correct {
    display: none;
    color: #9DE0AD;
  }
  #wrong {
    display: none;
    color: #FF5656;
  }
  i {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 270px;
    z-index: 2;
  }
}
#gameStep, #resultStep {
  height: 100%;
}
#resultStep {
  display: none;
}
#menu {
  height: 10%;
  .grid {
    width: 100%;
  }
  .column:nth-child(1) p {
    text-align: left;
  }
  .column:nth-child(2) p {
    text-align: right;
  }
  span {
    padding: 0px 10px;
  }
}
#question {
  height: 45%;
  p {
    text-align: justify;
    font-size: 26px;
  }
}

#answer {
  height: 35%;
  .grid {
    width: 100%;
    margin: 0px;
  }
  .ui.inverted.button {
    width: 100%;
    &.active, &:active, &:focus {
      background: transparent !important;
      box-shadow: 0 0 0 2px #FFF inset!important;
      color: white !important;
    }
  }
  p {
    text-align: justify;
    font: 22px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
    span {
      padding-left: 10px;
    }
  }
}

#result {
  height: 100%;
  h3 {
    font-size: 30px;
  }
  h1 {
    font-size: 120px;
    margin-top: 0px;
    text-align: center;
    small {
      padding-left: 5px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  #question p {
    font: 18px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
    padding: 0px 10px;
  }
  #answer {
    height: 35%;
    .column {
      padding-top: 0px !important;
    }
    p {
      font: 16px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
    }
  }
}
