body {
  font: 22px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
  color: #F7FBFC;
}
#bg {
  height: 100%;
  width: 100%;
  background: url(../../img/bg.jpg) no-repeat center center;
  background-size: 100% 100%;
  -webkit-filter: blur(2px) brightness(0.4);
          filter: blur(2px) brightness(0.4);
}

.result-icon {
  #correct {
    display: none;
    color: #9DE0AD;
  }
  #wrong {
    display: none;
    color: #FF5656;
  }
  i {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 270px;
    z-index: 2;
  }
}
// #correct {
//   display: none;
//   i {
//     color: #9DE0AD;
//   }
// }
// #wrong {
//   display: none;
//   i {
//     color: #FF5656;
//   }
// }
// i.result-icon {
//   position: fixed;
//   margin: auto;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   font-size: 270px;
//   z-index: 2;
// }
#main {
  height: 100%;
  position: absolute;
  padding-top: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#menu {
  height: 10%;
  .grid {
    width: 100%;
  }
  .column:nth-child(1) p {
    text-align: left;
  }
  .column:nth-child(2) p {
    text-align: right;
  }
  span {
    padding: 0px 10px;
  }
}
#question {
  height: 45%;
  p {
    text-align: justify;
    font-size: 26px;
  }
}
.center-justified {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
#answer {
  height: 35%;
  .grid {
    width: 100%;
    margin: 0px;
  }
  button {
      width: 100%;
    }
    p {
      text-align: justify;
      font: 22px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
      span {
        padding-left: 10px;
      }
    }
}

@media screen and (max-width: 480px) {
  #question p {
    font: 18px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
    padding: 0px 10px;
  }
  #answer {
    height: 35%;
    .column {
      padding-top: 0px !important;
    }
    p {
      font: 16px 'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
    }
  }
}
