extends layout
block css
  link(rel='stylesheet', href='./style/css/form.css')
block content
  #bg
  .ui.container#main
    #resultStep
      #result
        .ui.shape
          .sides
            .side
              .center-justified.maxhight
                h3 總答對
                h1
                  span 9
                  small 題
                button.ui.button.inverted ok
            .active.side
              .center-justified.maxhight
                .ui.negative.message
                  .header 每個項目皆為必填請確認
                  ul.list
                    li 是否有欄位未填
                    li Email格式

                h4 想更知道更多？
                h4 來參加資訊社迎新吧
                form.ui.form
                  .field
                    p 姓名
                    input#inputName(type='text', name='name',  placeholder='請輸入姓名', required)
                    p Email
                    input#inputEmail(type='email', name='name',  placeholder='請輸入Email')
                    p 科系
                    .ui.selection.dropdown#inputDepartment
                      input(type='hidden', name='department')
                      i.dropdown.icon
                      .default.text 請選擇科系
                      .menu
                        .item 中國文學系學士班
                        .item 外國語文學系學士班
                        .item 歷史學系學士班
                        .item 財務金融學系學士班
                        .item 企業管理學系學士班
                        .item 法律學系學士班
                        .item 會計學系學士班
                        .item 資訊管理學系學士班
                        .item 景觀與遊憩學士學位學程
                        .item 生物科技學士學位學程
                        .item 國際農企業學士學位學程
                        .item 農藝學系學士班
                        .item 園藝學系學士班
                        .item 森林學系林學組學士班
                        .item 森林學系木材科學組學士班
                        .item 應用經濟學系學士班
                        .item 植物病理學系學士班
                        .item 昆蟲學系學士班
                        .item 動物科學系學士班
                        .item 獸醫學系學士班 A
                        .item 獸醫學系學士班 B
                        .item 土壤環境科學系學士班
                        .item 生物產業機電工程學系學士班
                        .item 水土保持學系學士班
                        .item 食品暨應用生物科技學系學士班
                        .item 行銷學系學士班
                        .item 化學系學士班
                        .item 生命科學系學士班
                        .item 應用數學系學士班 A
                        .item 應用數學系學士班 B
                        .item 物理學系一般物理組學士班
                        .item 物理學系光電物理組學士班
                        .item 資訊科學與工程學系學士班
                        .item 機械工程學系學士班 A
                        .item 機械工程學系學士班 B
                        .item 土木工程學系學士班 A
                        .item 土木工程學系學士班 B
                        .item 環境工程學系學士班
                        .item 電機工程學系學士班 A
                        .item 電機工程學系學士班 B
                        .item 化學工程學系學士班
                        .item 材料科學與工程學系學士班
                    p 年級
                    .ui.selection.dropdown#inputYear
                      input(type='hidden', name='year')
                      i.dropdown.icon
                      .default.text 請選擇年級
                      .menu
                        .item 一年級
                        .item 二年級
                        .item 三年級
                        .item 四年級
                        .item 五年級
                    .button.ghost-button#submit(type='submit') 確認

block js
  script(src='./js/form.js')
