extends layout
block css
  link(rel='stylesheet', href='./style/css/game.css')
block content
  #bg
  .result-icon
    i.radio.icon#correct
    i.remove.icon#wrong
  .ui.container#main
    #gameStep
      .center-justified#menu
        .ui.grid
          .eight.wide.column#topicNum
            p
              | 第
              span 1
              | 題
          .eight.wide.column#correctPersent
            p
              | 正確率
              span
              | %
      .center-justified#question
        p
      .center-justified#answer
        .ui.grid.stackable
          .eight.wide.column
            button.ui.button.inverted(value='1')
              p A.
                span
          .eight.wide.column
            button.ui.button.inverted(value='2')
              p B.
                span
          .eight.wide.column
            button.ui.button.inverted(value='3')
              p C.
                span
          .eight.wide.column
            button.ui.button.inverted(value='4')
              p D.
                span
    #resultStep
      .center-justified#result
        .ui.grid
          .sixteen.wide.column
            h3 總答對
          .sixteen.wide.column
            h1
              span
              small 題
block js
  script(src='./socket.io/socket.io.js')
  script(src='./js/game.js')
