extends layout
block css
  link(rel='stylesheet', href='./style/css/game.css')
block content
  #bg
  .ui.container#main
    .center-justified#menu
      .ui.grid
        .eight.wide.column
          p
            | 第
            span 1
            | 題
        .eight.wide.column
          p 
    .center-justified#question
      p 
    .center-justified#answer
      .ui.grid.stackable
        .eight.wide.column
          button.ui.inverted.white.button
            p A.
              span 
        .eight.wide.column
          button.ui.inverted.white.button
            p B.
              span 
        .eight.wide.column
          button.ui.inverted.white.button
            p C.
              span 
        .eight.wide.column
          button.ui.inverted.white.button
            p D.
              span 

block js
  script(src='./socket.io/socket.io.js')
  script(src='./js/game.js')
